.hero{
display: flex;
min-height: calc(100vh - 74px);
overflow: hidden;
}

.hero-image{
    flex-direction: column;
    flex: 1;
    display: flex;
    position: relative;
    z-index: 5;
}

.hero-image img {
    width: 120%;
    height: 100%;
    object-fit: contain;
}
.hero-image__overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--primary-color);
    z-index: -1;
}
.hero-image h2{
    position:absolute;
    bottom: 0;
    padding: 20px;
    font-family: var(--playfair-disply);
    font-weight: 700;
    font-size: 120px;
    line-height: 138px;
    color:white;
}