.search-wrapper{
display: flex;
flex-direction: column;
gap: 0.25rem;

}

input {
    font-size: 1rem;
}

.users-cards{
display: grid;
grid-template-columns: repeat(auto-fill), minmax(150px , 1fr);
gap: 0.25rem;
margin-top: 1rem;
}

.card{
border:1px solid black;
background-color: white;
padding: 0.5rem;
}

.card > .header {
    display: flex;
margin-bottom: .25rem;
font-size: 4rem;
font-style:oblique;
align-items: center;
justify-content: center;

}

.card > .body {
    display: flex;
font: size 0.8rem;
color: #000000;
gap: 2rem;
font-size: 3rem;

}
.hide {
display: none;
}

button{
height:50px;
width: 50px;
margin-top: 120px;
background-color: white;
}

